.dashboard-sign {
  font-size: 0.7em;
}
.ellipsis {
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
  max-width: 100px;
}
.avatar-name {
  max-width: 60px;
  text-align: center !important;
}
.dashboard-avatar {
  width: 60px !important;
  height: 60px !important;
}
.member-list {
  width: 100%;
  height: 100%;
  display:inline-block;
  text-align: center;
}
.member-info {
  display: inline-block;
}
.member-info-data {
  width: 100%;
  margin: 10px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
}
.btn-member-info {
  margin-bottom: 20px;
}
.progress .bg-primary {
  background-color: #00838F !important;
}
.progress .bg-success {
  background-color: #388E3C !important;
}
.progress .bg-info {
  background-color: #0288D1 !important;
}
.progress .bg-warning {
  background-color: #FFAB00 !important;
}
.progress .bg-danger {
  background-color: #BF360C !important;
}
.department-name {
  margin-left: 20px;
  position: absolute;
}
.department-progress {
  margin-left: 130px;
  max-width: 70%;
}
.member-title {
  padding-top: 20px;
  padding-bottom: 5px;
}
.department-title {
  padding-top: 20px;
  padding-bottom: 40px;
}
